
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isSignedIn() {
      return request.auth != null;
    }

    match /users/{userId} {
      allow read, write: if request.auth.uid == userId;
    }

    match /athletes/{athleteId} {
      allow read: if isSignedIn();
      allow write: if request.auth.uid == resource.data.userId;
    }

    match /parents/{parentId} {
      allow read: if isSignedIn();
      allow write: if request.auth.uid == resource.data.userId;
    }

    match /events/{eventId} {
      allow read: if isSignedIn();
      allow write: if false; // For now, only admins can write
    }

    match /teamMembers/{memberId} {
      allow read: if isSignedIn();
      allow write: if false; // For now, only admins can write
    }

    // This rule allows any authenticated user to read the list of competitions.
    match /competitions/{competitionId} {
      allow read: if isSignedIn();
      allow write: if false; // For now, only admins can write
    }
  }
}
