@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 300 0% 5%;
    --foreground: 0 0% 95%;
    --card: 300 0% 5%;
    --card-foreground: 0 0% 95%;
    --popover: 300 0% 5%;
    --popover-foreground: 0 0% 95%;
    --primary: 130 90% 50%;
    --primary-foreground: 300 0% 5%;
    --secondary: 130 20% 15%;
    --secondary-foreground: 0 0% 95%;
    --muted: 130 20% 10%;
    --muted-foreground: 0 0% 60%;
    --accent: 130 20% 15%;
    --accent-foreground: 0 0% 95%;
    --destructive: 0 70% 50%;
    --destructive-foreground: 0 0% 95%;
    --border: 130 20% 25%;
    --input: 130 20% 25%;
    --ring: 130 90% 55%;
    --chart-1: 130 90% 50%;
    --chart-2: 180 90% 50%;
    --chart-3: 348 90% 60%;
    --chart-4: 43 90% 60%;
    --chart-5: 27 90% 60%;
    --radius: 0.5rem;
    --sidebar-background: 300 0% 5%;
    --sidebar-foreground: 0 0% 95%;
    --sidebar-primary: 130 90% 50%;
    --sidebar-primary-foreground: 300 0% 5%;
    --sidebar-accent: 130 20% 15%;
    --sidebar-accent-foreground: 0 0% 95%;
    --sidebar-border: 130 20% 25%;
    --sidebar-ring: 130 90% 55%;
  }

  .dark {
    --background: 300 0% 5%;
    --foreground: 0 0% 95%;
    --card: 300 0% 5%;
    --card-foreground: 0 0% 95%;
    --popover: 300 0% 5%;
    --popover-foreground: 0 0% 95%;
    --primary: 130 90% 50%;
    --primary-foreground: 300 0% 5%;
    --secondary: 130 20% 15%;
    --secondary-foreground: 0 0% 95%;
    --muted: 130 20% 10%;
    --muted-foreground: 0 0% 60%;
    --accent: 130 20% 15%;
    --accent-foreground: 0- 0% 95%;
    --destructive: 0 70% 50%;
    --destructive-foreground: 0 0% 95%;
    --border: 130 20% 25%;
    --input: 130 20% 25%;
    --ring: 130 90% 55%;
    --chart-1: 130 90% 50%;
    --chart-2: 180 90% 50%;
    --chart-3: 348 90% 60%;
    --chart-4: 43 90% 60%;
    --chart-5: 27 90% 60%;
    --radius: 0.5rem;
    --sidebar-background: 300 0% 5%;
    --sidebar-foreground: 0 0% 95%;
    --sidebar-primary: 130 90% 50%;
    --sidebar-primary-foreground: 300 0% 5%;
    --sidebar-accent: 130 20% 15%;
    --sidebar-accent-foreground: 0 0% 95%;
    --sidebar-border: 130 20% 25%;
    --sidebar-ring: 130 90% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
